html{
  height: 100%;
}
.Map{
  /*overflow: hidden;*/
  height: 100%;
}

#gmaps {
  color: black;
  height: 96%;
  width: 100%;
}

.varianceheading {
  color: white;
  text-align: center;
  font-size: 2rem;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

body {
  font-size: 1.1rem;
  background-color: black; /*#1f2122;*/
  color: white;
  height: 100%;
}

.sideNav{
  color: white;
}

.table-inverse{
  background-color: black; /*#292b2c;*/
}

.table td, .table th {
  padding: 0.4rem;
}

.early {
  font-weight: bold;
  color: black;
  background-color: #3BB9FF;
}
.okay {
  color: #9AFE2E;/*#c4d79b;*/
}
.late {
  font-weight: bold;
  color: black;
  background-color: orange;
}
.verylate {
  font-weight: bold;
  background-color: #c00000;
}
.delayrisk {
  font-weight: bold;
  background-color: #c00000;
}
.linkingissue{
  font-weight: bold;
  background-color: #c00000;
}
.stoppedbetweenstations{
  color: yellow;
  font-weight: bold;/*
  background-color: #c00000;*/
}
.prevdelayed{
  color: yellow;
  font-weight: bold;
}
.nolink{
  font-weight: bold;
  background-color: #c00000;
}
.intunnel{
  font-weight: bold;
  color: #c370f4;
  /*background-color: #b344f4;*/
}
.awaitingdeparture{
  color: #9AFE2E;
}
.arriving{
  color: yellow;
}

.currentstation {
  color: yellow;/*#f0cf7e;*/
}

.columncenter {
  text-align: center;
}
.columnright {
  text-align: right;
}

.trainnumber{
  font-weight: bold;
  text-align: center;
}
