<h1>Bus Calculator</h1>
<h3>under construction!!!!!!!!!!!!!!!!!!</h3>

<div layout="row">
<md-content md-whiteframe-"5" flex="25" style="padding:20px;">
  <form name="calcForm">
  <h2 class="md-subhead">Enter Start Time:</h2>
  <mdp-time-picker mdp-auto-switch="true" mdp-ampm="false" mdp-format="HH:mm" ng-model="busCalcData.Time"></mdp-time-picker>
  <md-button class="md-raised" ng-click="resetBusCalcTime();">Now</md-button>
  <p></p>
  <h2 class="md-subhead">Select Line:</h2>
  <md-radio-group ng-model="busCalcData.Line" class="md-primary">
    <md-radio-button value="HVL">HVL</md-radio-button>
    <md-radio-button value="JVL">JVL</md-radio-button>
    <md-radio-button value="KPL">KPL</md-radio-button>
    <md-radio-button value="MEL">MEL</md-radio-button>
    <md-radio-button value="WRL">WRL</md-radio-button>
    <!--<md-radio-button value="HVLWRL">HVL+WRL</md-radio-button>-->
  </md-radio-group>
  <p></p>
  <div layout="row">
    <md-input-container flex="50">
      <label>Station From</label>
      <md-select name="STAT1" ng-model="busCalcData.Station1" aria-label="Station 1" required>
          <md-option ng-repeat="stat in stationList | filter: { line: busCalcData.Line }" ng-value="stat.station_id">{{stat.station_id}}</md-option>
      </md-select>
      <div class="errors" ng-messages="busCalcData.STAT1.$error">
        <div ng-message="required">Required</div>
      </div>
      </md-input-container>
    <md-input-container flex="50">
      <label>Station To</label>
      <md-select name="STAT2" ng-model="busCalcData.Station2" aria-label="Station 2" required>
          <md-option ng-repeat="stat in stationList | filter: { line: busCalcData.Line }" ng-value="stat.station_id">{{stat.station_id}}</md-option>
      </md-select>
      <div class="errors" ng-messages="busCalculatorForm.STAT2.$error">
        <div ng-message="required">Required</div>
      </div>
    </md-input-container>
  </div>
  <p></p>
  <md-button class="md-raised" ng-disabled="calcForm.$invalid" ng-click="calculateBus();">Calculate</md-button>
</form>
</md-content>
<md-content md-whiteframe-"5" flex="75" style="padding:20px; margin-left:5px;" ng-show="busCalcResultsVisible">
  <div layout="row">
  <md-content md-whiteframe-"5" flex="50" style="padding:5px;">
    <h1>{{busCalcResults[0].Direction}}</h1>
    <h1>{{busCalcResults[0].SumPax}} Passengers, {{busCalcResults[0].Buses}} Buses</h1>
    <p></p>
    <h3>Next Services:</h3>
    <h3>{{busCalcResults[0].Direction}} at {{busCalcResults[0].Station}}</h3>
    <table id="resultsTable" class="table table-inverse table-hover" style="padding:10px;">
      <thead id="resultsTableHeader">
        <tr id="resultsHeaderRow">
          <th id="trainNumberHeader">Train</th>
          <th id="timeHeader">Arrival</th>
          <th id="speedHeader">Pax</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="service in busCalcResults[0].services| orderBy:['arrival']">
        <td id="trainnumber" class="varianceNormal">{{ service.serviceId }}</td>
        <td id="timeResults" class="varianceNormal">{{ service.arrival }}</td>
        <td id="speedResults" class="varianceNormal">{{ service.PaxEst }}</td>
      </tr>
    </tbody>
    </table>
  </md-content>
  <md-content md-whiteframe-"5" flex="50" style="padding:5px;">
    <h1>{{busCalcResults[1].Direction}}</h1>
    <h1>{{busCalcResults[1].SumPax}} Passengers, {{busCalcResults[1].Buses}} Buses</h1>
    <p></p>
    <h3>Next Services:</h3>
    <h3>{{busCalcResults[1].Direction}} at {{busCalcResults[1].Station}}</h3>
    <table id="resultsTable" class="table table-inverse table-hover" style="padding:10px;">
      <thead id="resultsTableHeader">
        <tr id="resultsHeaderRow">
          <th id="trainNumberHeader">Train</th>
          <th id="timeHeader">Arrival</th>
          <th id="speedHeader">Pax</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="service in busCalcResults[1].services| orderBy:['arrival']">
        <td id="trainnumber" class="varianceNormal">{{ service.serviceId }}</td>
        <td id="timeResults" class="varianceNormal">{{ service.arrival }}</td>
        <td id="speedResults" class="varianceNormal">{{ service.PaxEst }}</td>
      </tr>
    </tbody>
    </table>
  </md-content>
</div>
</md-content>
</div>

<div id="footer">All Bus Estimates are for the next hour from the time of calculation. Buses are estimated to be 50 people per bus. Passenger Numbers based upon average values. Use as a guide only.</div>
