<md-dialog aria-label="Roster for {{dayRoster[0].staffName}}">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Roster for {{ dayRoster[0].staffName}}</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <i class="material-icons">close</i>
          </md-button>
        </div>
      </md-toolbar>
  
      <md-dialog-content>
        <div class="md-dialog-content">
          <h2>{{dayRoster[0].shiftId}}</h2>
            <table id="resultsTable" class="table table-inverse table-hover" style="padding:10px;">
              <thead>
                    <th>Duty</th>
                    <th>Start</th>
                    <th>End</th>
              </thead>
              <tbody>
          <tr ng-repeat="duty in dayRoster">
            <td>{{duty.dutyName}}</td>
            <td>{{duty.dutyStartTime}}</td>
            <td>{{duty.dutyEndTime}}</td>
          </tr>
          </div>
            </tbody>
          </table>
            </div>
      </md-dialog-content>
    </form>
  </md-dialog>