  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-default-theme">

        <h1 class="md-toolbar-tools">Menu</h1>
        <md-button class="md-icon-button md primary" aria-label="Settings" ng-click="toggleLeft()">
          <i class="material-icons">menu</i>
        </md-button>
      </md-toolbar>

      <md-content layout-margin>
        <p>
          This menu will oneday contain useful things...
        </p>

      </md-content>
    </md-sidenav>

    <md-content flex>

      <div layout="column" layout-align="top left">

        <div>
          <md-button class="md-icon-button md primary" aria-label="Settings" ng-click="toggleLeft()">
              <i class="material-icons">menu</i>
          </md-button>
        </div>

      </div>

    </md-content>

  </section>
